body {
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/*.loader{
  background: black;
  color: white;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 2;
}*/

.progress{
  position: absolute;
  top: 52%;
  height: 1px;
  width: 100%;
  transform: scaleX(0);
  background-color: white;
  transition: all 1s ease;
}
.nav--bar {
  position: absolute;
  display: flex;
  /*flex-direction: column;*/
  align-content: space-between;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.logo{
  margin-left: 50px;
  width: 40px;
}

.section {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.section--one--container{
  width: 360px;
  margin-left: 9%;
}

.first h1{
  margin-left:15%;
  font-size: 10rem;
  line-height: 8rem;
  width: 50%;
  letter-spacing: -0.3rem;
  margin: 0 0 5px -10px;
}
.section--third--container{
  width: 360px;
  margin-left: 10%;
  z-index: 1;
}

h2{
  font-size: 3rem;
  letter-spacing: -2px;
  line-height: 2.5rem;
}

.button--navbar {
  background: linear-gradient(to right, rgb(23, 235, 4), #0f0f0f); 
  color:white;
  border: none;
  border-radius: 50px;
  font-size: 0.8rem;
  cursor: pointer;
  padding:10px 30px;
  margin-right: 40px;
}

.button--hero{
  background: linear-gradient(to right, rgb(23, 235, 4), #0f0f0f); 
  color: rgb(245, 235, 235);
  border: none;
  font-weight: 600;
  border-radius: 50px;
  padding: 15px 30px;
  margin-top: 20px;
  margin-right: 40px;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
}

.second{
  justify-content: flex-end;
  position: relative;
  top: 5px;
}

.section--two--container{
  width: 360px;
  margin-right: 10%;
  z-index: 1;
  position: relative;
  padding-top: 380px;
}

.custom--bg {
  width: 100%;
  height: 800px;
  background: linear-gradient(to right, gold, #00CED1); /* Gold to Diamond gradient */
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  transform: skew(20deg) rotate(21deg);
  position: absolute;
  top: 50px;
  left: 0;
  border: 0px solid transparent; /* Transparent border */
  border-image: linear-gradient(to right, gold, #4104eb); /* Neon border effect */
  border-image-slice: 1;
  box-shadow: 0 0 20px 5px #111111; /* Neon effect */
}

  
footer{
  background: linear-gradient(to right, gold, #00CED1);
  padding: 70px;
  display: flex;
  justify-content: center;
}

.button--footer{
  background: linear-gradient(to right, rgb(23, 235, 4), #0f0f0f);
  color: rgb(250, 243, 243);
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
}

.button--footer:hover{
  background: linear-gradient(to right, rgb(23, 235, 4), #0f0f0f);
  color: rgb(17, 16, 16);
  cursor: pointer;
}

.customizer--container{
  position: fixed;
  top: 50%;
  display: none;
  transform: translateY(-50%);
}

.strap--colors{
  list-style: none;
}

.button--colors{
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid white;
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.8s ease;
}

.button--colors:hover{
  filter: drop-shadow(0 0 0.75rem rgba(28, 17, 52, 0.704));
  transform: scale(1.5);
}

.yellow{
  background-color: #F0D56C;
}

.red{
  background-color: rgb(231, 34, 34);
}

.black{
  background-color: rgb(74, 76, 79);
}

.button--exit{
  width: 90px;
  margin-bottom: 5%;
  z-index: 5;
  position: fixed;
  bottom: 0;
  display: none;
}

.button--customize{
  background: linear-gradient(to right, rgb(23, 235, 4), #0f0f0f);
  color: rgb(247, 240, 240);
  border: none;
  font-weight: 600;
  border-radius: 50px;
  padding: 15px 30px;
  margin-top: 24px;
  margin-right: 40px;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

#webgi-canvas-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
}
